*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
#page1{
    height: 175vh;
    width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
  }
:root{
    --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --text-shadow: black;
}
.background img{
    width: 100vw;
    height: 100vh;
  
}
.background{
    display: flex;
    top: 0;
    z-index: -1;
    position: fixed;
}

.logo img{
    width: 7.5vw;
    object-fit: cover;
}
ul{
    list-style: none;
}
ul a{
    color:var(--primary-color);
    text-decoration: none;
    background-color:transparent;
    padding: 1rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
nav li{
    display: inline-block;
    margin: 0px 5px;
    font-size: 1.3rem;
    
    
}
nav{
    margin-left: 17.5vw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 65vw;
    background-color:var(--secondary-color);
    top: 0;
    z-index: 100;
}

ul a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.content-container{
    display: flex;
    position: relative;
    background-color: var(--secondary-color);
    justify-content: var(--primary-color);
    margin-top: 7.5vw;
    margin-left: 17.5vw;
    width: 65vw;
    height: 175vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.content-container span h1{
    font-size: 2rem;
    margin-right: 5vw;
}
.content-container span{
    display: flex;
    align-items: center;
    text-shadow: 3px 0px var(--text-shadow);
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-left: 3vw;
    margin-top: 10vh;
}

.content-container img{
    width: 3vw;
    height: 6vh;
    object-fit: cover;
    margin-right: 3vw;
    margin-left: -4vw;
}
@media (max-width: 500px){
    .content-container span{
        font-size: 0.75rem;
    }
    .content-container span h1{
        font-size: 1rem;

    }
    .content-container {
        width: 95vw;
        height: 200vh;
        margin-left: 2.5vw;
    }
    nav{
        margin-left: 2.5vw;
        width: 95vw;
    }
    nav li{
        font-size: 0.6rem;
    }
    .content-container img{
        width: 10vw;
        height: 4vh;
    }

}
@media (min-width: 501px) and (max-width: 768px){
    .content-container span{
        font-size: 1.1rem;
    }
    .content-container span h1{
        font-size: 1.25rem;

    }
    .content-container {
        width: 90vw;
        height: 185vh;
        margin-left: 5vw;
    }
    nav{
        margin-left: 5vw;
        width: 90vw;
    }
    nav li{
        font-size: 1rem;
    }
    .content-container img{
        width: 10vw;
        height: 4vh;
    }

}
    @media (min-width: 769px) and (max-width: 1024px){
        .content-container span{
            font-size: 1.3rem;
        }
        .content-container span h1{
            font-size: 2rem;
        }
        .content-container {
            width: 90vw;
            height: 175vh;
            margin-left: 5vw;
        }
        nav{
            margin-left: 5vw;
            width: 90vw;
        }
        nav li{
            font-size: 1.3rem;
        }
        .content-container img{
            width: 10vw;
            height: 4vh;
        }

    }


