*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
  }
:root{
    --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --text-shadow:black ;
}
.wallpaper{
    display: grid;
    grid-template-columns: 1,1fr;
    grid-template-rows:1,1fr;
}
.wallpaper::before{
    content: '';
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(15,15,15,0.5);
}
.wallpaper img{
    margin-top: -581.5px; 
   grid-column-start: 1;
   grid-row-start: 1;
   width: 100vw;
   height: 95vh;
   object-fit: cover;
   z-index: -1;
}

.img1{
    opacity: 1;
}
.img2,.img3{
    opacity: 0;
}
.logo img{
    width: 7.5vw;
    object-fit: cover;
}
ul{
    list-style: none;
}
nav a{
    color:var(--primary-color);
    text-decoration: none;
    background-color:transparent;
    padding: 1rem;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
nav li{
    display: inline-block;
    margin: 0px 5px;
    font-size: 1.3rem;
    
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color:var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 100;
    
}
#page1 .flex{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 .flex p{
    text-shadow: 0px 3px var(--text-shadow);
    font-size: 1.3rem;
    color: var(--primary-color);
    z-index:10;

}
#page1 .flex h1{
    text-shadow:0px 3px var(--text-shadow);
    font-size: 3rem;
    color: var(--primary-color);
    z-index:10;
}
nav a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.img1{
    animation: img1 20s linear 5s infinite;
}
.img2{
    animation: img2 20s linear 5s infinite;
}
.img3{
    animation: img3 20s linear 5s infinite;
}
@keyframes img1{
    15%{
        opacity: 0;
    }
    68%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
}
@keyframes img2{
    15%{
        opacity: 1;
    }
    38%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
}
@keyframes img3{
    38% {
        opacity: 0;
    }
    45%{
        opacity: 1;
    }
    68%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    
}
#page2{
    width:100vw;
    height:25vh;
    background-color: var(--secondary-color);
}
.img4{
    width: 7.5vw;
    height: 15vh;
    object-fit: cover;
    border-radius: 50%;
}
#page2 .flex{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-evenly;
    
}
#page2 .flex a,#page2 .flex p{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
}
@media (max-width: 500px){
    #page1 .flex p{
        font-size: 0.7rem;
    }
    #page1 .flex h1{
        font-size: 1.4rem;
    }
    .img4{
        width: 0vw;
        height: 0vh;
        object-fit: cover;
        border-radius: 0%;
    }
    #page2 .flex a,#page2 .flex p{
        font-size:0.7rem;
}
nav li{
    font-size: 0.7rem;   
}
nav a:hover{
    background-color: transparent;
    color: var(--primary-color);
}
}

@media (min-width: 501px) and (max-width: 768px){
    #page1 .flex p{
        font-size: 1.25rem;
    }
    #page1 .flex h1{
        font-size: 2.5rem;
    }
    .img4{
        width: 7.5vw;
        height: 6vh;
        object-fit: cover;
        border-radius: 50%;
    }
    #page2 .flex a,#page2 .flex p{
        font-size:1rem;
}
nav li{
    font-size: 1.1rem;   
}
nav a:hover{
    background-color: transparent;
    color: var(--primary-color);
}
}

@media (min-width: 769px) and (max-width: 1024px){
    #page1 .flex p{
        font-size: 1.3rem;
    }
    #page1 .flex h1{
        font-size: 3rem;
    }
    .img4{
        width: 7.5vw;
        height: 6vh;
        object-fit: cover;
        border-radius: 50%;
    }
    #page2 .flex a,#page2 .flex p{
        font-size:1rem;
}
nav li{
    font-size: 1.3rem;
}
nav a:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.wallpaper img{
    margin-top: -700.5px; 
}
}

